build/*

# ./gnupg-binaries is a symlink to the repo for
# https://github.com/fluidkeys/gnupg-binaries
gnupg-binaries

# deb package files
pkg/debian/DEBIAN/md5sums
pkg/debian/usr/bin/fk
pkg/out/

# reprepro files
pkg/apt-repo/db/*
pkg/apt-repo/dists/*
pkg/apt-repo/pool/*

.secret/*
