Package: fluidkeys
Version: 0.3.3
Architecture: amd64
Essential: no
Section: devel
Priority: optional
Depends:
Recommends: gnupg2
Maintainer: Paul Furley, Ian Drysdale
Installed-Size: 96
Description: Fluidkeys makes PGP simple.
